<Configuration>
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="%-5p [%t]: %m%n" />>
		</Console>
	</Appenders>
	<Loggers>
<!--		<Logger name="Musician_5" level="debug" additivity="false">-->
<!--			<AppenderRef ref="Console" />>-->
<!--		</Logger>-->
		<Root level="debug">
			<AppenderRef ref="Console" />>
		</Root>
	</Loggers>
</Configuration>