<Configuration monitorInterval="5">
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="%-5p [%t] %c{1.} %M - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="Musician_0" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="Musician_16" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.roach.margia.controller.rules.StateBasedRule"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.roach.margia.controller.rules.RandomRule"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.roach.margia.controller.rules.ReceiverRule"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.roach.margia.Transport" level="info"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.roach.margia.controller.MidiController"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="org.roach.margia.controller.timing.InternalTimingSource"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="org.roach.margia.controller.timing.ExternalTimingSource"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>